html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:root {
  /* Light Mode */
  --primary-color: #00c2cb;
  --secondary-color: #9a9bef;
  --text-primary-color: #333333;
  --text-secondary-color: #64707d;
  --bg-primary-color: #fff;
  --bg-secondary-color: #f2f2f2;
  --other-color: #ccc;
  --navbar-bg: rgba(0, 0, 0, 0.1);
  --rotate-color: #000;

  /* Icons */
  --color-1: #e65100;
  --color-2: #8a2be2;
  --color-3: #0277bd;
  --color-4: #ffd600;
}

[data-theme="dark"] {
  /* Dark Mode */
  --primary-color: #00c2cb;
  --secondary-color: #989aef;
  --text-primary-color: #fff;
  --text-secondary-color: #64707d;
  --bg-primary-color: #1f2028;
  --bg-secondary-color: #111;
  --other-color: #232323;
  --navbar-bg: rgba(0, 0, 0, 0.4);
  --rotate-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
  font-size: 1.6rem;
}

img {
  width: 100%;
  height: 100%;
}

p {
  margin: 10px 0;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.logo {
  width: 50px;
  width: 50px;
  border-radius: 20%;
  padding: 1px;
  border: 1px solid var(--text-primary-color);
}

#header {
  height: 100vh;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

.navBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: var(--bg-secondary-color);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  height: 70px;
  position: fixed;
  top: 0;
  padding: 20px;
}

.nav-icon {
  font-size: 15px;
  margin-right: 10px;
}

.header_content {
  display: flex;
  list-style: none;
}

.navBar ul {
  display: flex;
}

.navBar ul li a {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin: 0 0.5rem;
  transition: all 0.3s ease-in-out;
  padding: 1rem 1.5rem;
}

.header_content li:hover {
  transition: all 0.4s cubic-bezier(0, 0, 1, 0);
}

.btn {
  background: linear-gradient(currentColor 0 0) var(--p, 100%) 0,
    linear-gradient(currentColor 0 0) 0 var(--d, 0),
    linear-gradient(currentColor 0 0) var(--d, 0) 100%,
    linear-gradient(currentColor 0 0) 100% var(--p, 100%);
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  border-radius: 2px;
  background-color: var(--bg-secondary-color);
  transition: 0.5s, background-position 0s 0.5s;
}

.btn:hover {
  --d: 100%;
  --p: 0%;
}

/* Dark Mode switch */
.theme-switcher {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  margin-left: 2rem;
  border-radius: 50%;
  background: var(--bg-primary-color);
  border: 1px solid var(--text-primary-color);
}

.theme-switch {
  display: inline-block;
  position: relative;
}

.theme-switch input {
  display: none;
}

.switch {
  background-image: url(../images/sun.svg);
  background-position: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s;
}

input:checked + .switch {
  background-image: url(../images/moon.svg);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(293deg)
    brightness(101%) contrast(102%);
}

/* Hamburger menu */
.hamburger {
  display: none;
}

.nav-menu {
  display: flex;
}

.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-primary-color);
}

/* Navbar */
@media (max-width: 768px) and (max-width: 701px) {
  .navBar {
    justify-content: space-between;
  }

  .logo {
    order: 1;
  }

  #menu {
    order: 3;
  }

  .theme-switcher {
    order: 2;
    margin-top: 1rem;
  }

  .navBar ul li a {
    margin: 0.5rem;
  }

  .navBar ul li a:hover {
    background-color: var(--primary-color);
    color: #fff;
  }

  .header_content {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    width: 70%;
    height: 100%;
    transition: 0.3s;
    background-color: var(--bg-secondary-color);
  }

  /* Add spacing between hamburer and navigation menu */
  .header_content li:first-child {
    margin-top: 5rem;
  }

  .header_content.active {
    right: 0;
  }

  .nav-items {
    width: 100%;
    border-bottom: 1px solid var(--other-color);
  }

  .nav-link {
    display: inline-block;
    width: 100%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body {
    overflow-x: hidden;
  }

  #header {
    margin-top: 2rem;
  }
}

@media (max-width: 700px) {
  #header {
    height: 130vh;
  }
}

@media (max-width: 400px) {
  #header {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .theme-switcher {
    display: flex;
    width: 46px;
  }
}
